body{
	color: black;
}

.titreEtTris{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.titreEtTris h1{
	color: #374B6E;
}

.titreEtTris p{
    margin-top: 3vh;
}

.btn-tri{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.btn-tri button{
	all: unset;
    cursor: pointer;
    user-select: none;

	background-color: #F2F2F2;
	border: 2px solid black;
	height: 5vh;
	width: 6vw;

	border-radius: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}


.Produits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 6vw;
    padding: 20px;
    margin-top: 4vh;
}

.carte-produit {
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
    height: 43vh;
    width: 12vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Répartit l'espace entre les éléments */
}

.carte-produit img {
    width: 10vw;
    height: 30vh;
    border: 3px solid black;
    object-fit: cover;
}

.carte-produit p {
    font-size: 1.2em;
    font-weight: bold;
}

.carte-produit select {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.carte-produit button {
    background-color: #F2F2F2;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carte-produit .taille-btn{
    display: flex;
    gap: 2vw;
}
