body{
	color: black;
}

h1{
    margin-top: 30px;
	text-align: center;
	font-family: 'Inter', sans-serif;
}

.Menu-administrateur{
	background-color: #75C9E1;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 50px;
	height: 5vh;
	width: 70vw;
	margin: 0 auto;
	padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;

}

.Menu-administrateur a{
	font-size: 18px;
	text-decoration: none;
	color : white;
}

.recherche{
	align-items: center;
    display: flex;
    flex-direction: column;	
    margin-bottom: 2%;
}

.table-responsive{
	align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}
table {
	width: 80%;
	border-collapse: collapse; 
	margin: 20px 0;
	box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
	margin-bottom: 100px;
}

thead {
	background-color: #b8e3f1; 
	color: white;
}

th {
	padding: 12px 15px;
	text-align: left;
	font-weight: 600;
	letter-spacing: 0.5px;
	position: sticky;
	top: 0; 
}

tbody tr {
	border-bottom: 1px solid #dddddd;
	transition: all 0.2s;
}

tbody tr:nth-of-type(even) {
	background-color: #f8f9fa; 
}

tbody tr:last-of-type {
	border-bottom: 2px solid #3498db;
}

tbody tr:hover {
	background-color: #e9f7fe; 
	transform: scale(1.005);
}

.btnAPayer{
	background: #E05050;
}

.btnAPayer:hover {
	background-color: #924444;
}

.btnPayer{
	background: #68d46d;	
}

.btnPayer:hover {
    background-color: #60c965;
}