* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #2c3e50;
    font-size: 2.5em;
}

.profile-info {
    max-width: 600px;
    margin: 0 auto 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Élément d'information */
.info-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
}

.info-item:last-child {
    border-bottom: none;
}

.label {
    font-weight: bold;
    color: #34495e;
    width: 25%;
    margin-right: 35%;
}

.value, input{
    color: #7f8c8d;
    width: 60%;
    word-break: break-word;
    text-align: center;
    background-color: #D7EBF1;
    border-radius: 20px;
}

.password-input-wrapper{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
}

label{
    font-weight: bold;
    color: #34495e;
    width: 25%;
    margin-right: 35%;
}

.enregistrer {
    background: #75C9E1;
    border-radius: 50px;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-top: 20px;
}

.enregistrer:hover {
    background-color: #98e1f5;
}

.btnRouge {
    background: #E05050;
    border-radius: 50px;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.btnRouge:hover {
    background-color: #3f1515;
}

.password-field label {
    display: block;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 5px;
}

.action-buttons {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Responsive */
@media (max-width: 600px) {
    .profile-info, .action-buttons {
        width: 90%;
    }

    .info-item {
        flex-direction: column;
        gap: 5px;
    }

    .label, .value {
        width: 100%;
    }

    .action-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .btn {
        width: 100%;
    }
}