{% extends '_template/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }} {# Important pour conserver les styles du parent #}
    <link rel="stylesheet" href="../asset/css/accueil.css">
{% endblock %}
{% block titre %}Accueil - BDE Informatique{% endblock %}


{% block body %}
    <div>
        <img src="../../asset/images/logo.png" alt="Logo BDE">
    </div>
{% endblock %}