<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titre %}{% endblock %}
    <link rel="stylesheet" href="../../asset/css/base.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>

<!-- Navbar -->
<nav class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="articles.php">ACCUEIL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="users.php">ÉVÉNEMENT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="articles.php">BOUTIQUE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="users.php">CONTACT</a>
        </li>
        <li class="nav-icons">
            <a class="nav-link" href="users.php"><img src="../../asset/images/Vector.png" alt="Panier"></a>
            <a class="nav-link" href="users.php"><img src="../../asset/images/person.png" alt="Profil"></a>
        </li>
    </ul>
</nav>



<div class="container">
    {% block body %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% block javascript %}{% endblock %}

<footer>
    <div class="footer-container">
        <div class="group-item logo">
            <img class="logo-img" src="../../../asset/images/logo.png" alt="Logo">
            <div class="bde-text">BDE <br>INFORMATIQUE</div>
        </div>
        
        <div class="group-item">
            <div class="btn">
                <div class="contact-button">
                    <div class="contact-text">Nous contacter</div>
                </div>
                <div class="group-item">
                    <img class="social-icon2" src="../../../asset/images/insta.png" alt="Instagram">
                    <img class="social-icon" src="../../../asset/images/discord.png" alt="Discord">
                </div>
            </div>
        </div>
        
        <div class="cgu-wrapper">
            <a href="#" class="cgu-text">CGU</a>
        </div>
    </div>
</footer>
</body>
</html>