{% extends '_template/base.html.twig' %}

{% block title %}<title> Contact - BDE Informatique</title>{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/asset/css/contact.css">
{% endblock %}

{% block body %}
<div class="contact-container">
    <h1>Contactez-nous</h1>
    <form method="post" action="/contact/submit">
        <div class="div-form">
            <label for="email">Email :</label>
            <input type="email" name="email" id="email" required>
        </div>

        <div class="div-form">
            <label for="object">Objet :</label>
            <input type="text" name="object" id="object" required>
        </div>
        
        <div class="div-form">
            <label for="msg">Message :</label>
            <textarea name="msg" id="msg" required></textarea>
        </div>
        
        <div class="div-form">
            <input type="submit" name="btnform" id="btnform" value="Envoyer">
        </div>
    </form>
</div>
{% endblock %}